@{
    ViewData["Title"] = "Admin";
}

<div class="text-center">
    <h1 class="display-4">Maintain Application Data</h1>
    <hr />
    <a asp-controller="Admin" asp-action="ManageJobs">Manage Jobs</a>
    <br />
    <br />
    <a asp-controller="Admin" asp-action="ManageJobs">Manage Calculations</a>
</div>
